$clr__primary--red-soft: hsl(7, 99%, 70%);
$clr__primary--yellow: hsl(51, 100%, 49%);
$clr__primary--cyan-900: hsl(167, 40%, 24%);
$clr__primary--cyan-footer: hsl(168, 52%, 61%);
$clr__primary--blue-dark: hsl(198, 62%, 26%);

$clr__neutral--blue-des-dark: hsl(212, 27%, 19%);
$clr__neutral--blue-gry-dark-800: hsl(213, 9%, 39%);
$clr__neutral--blue-gry-dark-500: hsl(232, 10%, 55%);
$clr__neutral--blue-gry: hsl(210, 4%, 67%);
$clr__neutral--white: hsl(0, 0%, 100%);

$ff__barlow: 'Barlow', sans-serif;
$ff__fraunces: 'Fraunces', serif;