@import 'variables';
@import 'config';
@import 'menuToggle';
@import 'header';
@import 'services';
@import 'testimonials';
@import 'projects';
@import 'footer';
@import 'responsive';

*,
*::before, 
*::after {
    box-sizing: inherit;
}
  
* {
    padding: 0;
    margin: 0;
}
  
html, body {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
  
body {
    font-family: $ff__barlow;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    font-family: $ff__fraunces;
}
  
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
  
input, button, textarea, select {
    font: inherit;
}